.nav{
    display: grid;
    grid-template-columns: 20% 80%;
    width: 100%;
    font-size: 1.3rem;
    background-color: #12303d;
    color: white;
    font-weight: 600;
    height: 10vh;
}
.gi{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
li{
    list-style: none;
}
.li{
    text-decoration: none;
    color: white;
}
.sp{
    color: skyblue;
}
